h2 {
    text-align: center;
}

form {
    width: 300px;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid;
    border-radius: 8px;
}

input, select, button {
    margin: 5px auto;
    /*width: 100%;
    padding: 2px;*/
}

div {
    text-align: center;
}