.session_data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form_and_view_links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.saved_data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.errors {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color:red;
}